<section>
  <h1>About Me</h1>
  <p>Dr. Andy R. Terrel is a High Performance Computing researcher at the Texas Advanced Computing Center. In this role, Andy helps users utilize supercomputers with Python and studies methods for speeding up computational fluid dynamics. He graduated from the University of Chicago with a PhD in Computer Science in 2010 and has been programming in Python for the last decade and is a contributor to numerous open source projects including the <a href="http://fenicsproject.org">FEniCS Project</a> and <a href="http://sympy.org">Sympy</a>.</p>
</section>
