<div class="bot">
  <span class="user">
    <i class="icon-user"></i>
    {% if article.author %}
    <span><a href="{{ SITEURL }}/{{ article.author.url }}">{{ article.author }}</a></span>
    {% endif %}
  </span>
  <span class="time">
    <i class="icon-time"></i>
    <span>{{ article.locale_date }}</span>
  </span>
  <span class="tags">
    <span><a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a></span>
  </span>
  <span class="tags">
    <i class="icon-tags"></i>
    {% for tag in article.tags %}
    <span><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a></span>{% if not loop.last %}&nbsp;,{% endif %}
    {% endfor %}
  </span>
  <span>
    {% include 'twitter.html' %}
  </span>
</div>
